= form_for @profile do |f|
  - if @profile.errors.any?
    #error_explanation
    %h2= "#{pluralize(@profile.errors.count, "error")} prohibited this profile from being saved:"
    %ul
      - @profile.errors.full_messages.each do |message|
        %li= message
  
  .field
    = f.label :username
    = f.text_field :username
  .field
    = f.label :about
    = f.text_area :about
  .actions
    = f.submit 'Save'

%h2 Add some skills
= form_tag edit_profile_path, method: :get do
  .field
    = label_tag :skill #, "Choose a skill:"
    = label_tag :skill, "Select a skill:"
    = select_tag(:skill_id, options_for_select( @skills, @selected_skill ), {prompt: 'Pick a skill', onchange: 'this.form.submit();'})
%h2 Add some skills
= form_with model: @profile do |f|
  .field
    = f.label :skill, "Pick a skill:"
    = f.select(:skill_id, Skill.all.map {|skill| [skill.name.titleize, skill.id]}, {selected: @selected_skill, include_blank:  'Pick a skill'}, {onchange: 'this.form.submit();'})
      
-# = form_for @profile do |f|

-#     .field
-#       = f.label :skill
-#       = f.
-#     .field
-#       = f.label :about
-#       = f.text_area :about
-#     .actions
-#       = f.submit 'Add'