%h1 Listing requirements

%table
  %thead
    %tr
      %th Name
      %th Skill
      %th
      %th
      %th

  %tbody
    - @requirements.each do |requirement|
      %tr
        %td= requirement.name
        %td= requirement.skill.name
        %td= link_to 'Show', skill_requirement_path(requirement.skill, requirement)
        %td= link_to 'Edit', edit_skill_requirement_path(requirement.skill, requirement)
        %td= link_to 'Destroy', skill_requirement_path(requirement.skill, requirement), method: :delete, data: { confirm: 'Are you sure?' }

%br

-# = link_to 'New Requirement', new_skill_requirement_path(requirement.skill)
